:root{
    margin: 0 50px 0 50px ; 
  }

  #th{
    color: white ;
    background-color: rgba(200, 154, 88, 1) ;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-top: 10px;
  }
  #td{
    border: solid 1px rgba(200, 154, 88, 1);
    margin-top: 15px;
    padding: 5px;
    height: 260px;
    
  }
  .pourquoi{
    font-size: 24px;
  }
  
  footer{
    background-color: rgba(239, 240, 242, 1); 
    margin: 0 -60px 0 -60px ; 
  }
  a{
    text-decoration: none;
  }
  .link{
    color : black ;
  }
  .link2{
    color:rgba(200, 154, 88, 1) ;
    font-size: 20px;
   
  }
  .link:hover{
    color:rgba(200, 154, 88, 1) ;
    font-size: 20px;
  }
  span{
    color: red;
    font-size: 20px;
  }
  
  @media (max-width:999px){
    
    :root{
      margin: 0 10px 0 10px;
      font-size: medium;
    }
    .footer, .navbar{
      margin: 0;
    }
    button{
      margin-top: 10px;
      border: 0;
    }
    .pourquoi{
      font-size:medium;
    }
    #td{
      height: Auto;
      
    }
 
  }
